* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 3px solid purple;
}

header button {
  background-color: green;
  padding: 5px;
  border: none;
  color: white;
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
}

h2 {
  padding-bottom: 15px;
}

form {
  background-color: rgb(136, 177, 199);
  padding: 20px;
  text-align: center;
  display: none;
}

form button {
  padding: 5px;
  background-color: green;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#cancelar {
  background-color: red;
}

input {
  padding: 5px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  max-width: 25%;
  position: relative;
  list-style: none;
  max-height: 250px;
  overflow-y: hidden;
}

li img {
  width: 100%;
}

.overlay-image-link {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all ease 0.5s;
}

ul li:hover .overlay-image-link {
  opacity: 1;
}

.overlay-image-link a {
  text-decoration: none;
  color: white;
}

.fade-in {
  display: block;
  opacity: 1;
  transition: all ease 0.5s;
}
